/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    --very-dark-grey: hsl(0, 0%, 17%);
    --dark-grey: hsl(0, 0%, 59%);
}

/* General */
.background-pattern {
    position: absolute;
    top: 0;
    z-index: -1;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 34px;
    margin-top: 35px;
}

h2 {
    text-transform: uppercase;
    color: var(--dark-grey);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 19px;
    letter-spacing: 1px;
}

p {
    color: var(--very-dark-grey);
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

hr {
    margin: 0 33px 0 33px;
}

.input-and-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
    margin-top: 35px;
    border-radius: 15px 0 0 15px;
    border-style: none;
    padding: 21px 25px 21px 25px;
    width: 498px;
    cursor: pointer;
}

button {
    margin-top: 35px;
    border-style: none;
    background-color: var(--very-dark-grey);
    padding: 24px 24px 23px 24px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 48px;
    padding: 39px;
    width: 1111px;
    position: absolute;
    top: 170px;
    z-index: 2;
}

.output-item {
    display: block;
}

#map {
    width: 1440px;
    height: 520px;
    position: absolute;
    top: 250px;
    z-index: -1;
}

/* Attribution */
.attribution {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 600px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
    input {
        width: 271px;
    }

    .output {
        width: 328px;
        flex-direction: column;
        align-items: center;
    }

    hr {
        display: none;
    }

    h2 {
        font-size: 11px;
        margin-bottom: 14px;
        text-align: center;
    }

    p {
        font-size: 21px;
        margin-bottom: 31px;
        text-align: center;
    }
}